body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    display: inline;
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container { 
  width: 100%;
  height: 50px;
  display: grid;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;   
}

.img-faceBook {
    width: 35px;
    height: 20px;
}

.img-twitter {
    width: 35px;
    height: 20px; 
}

.img-instagram {
    width: 40px;
    height: 22px; 
}

.img-linkedIn {
    width: 55px;
    height: 25px; 
}

.img-youTube {
    width: 30px;
    height: 25px; 
}

.nav-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: salmon;
}

.nav-header-container .nav-profile-link {
    padding: 12px;
    width: 350px;
    display: flex;
    justify-items: flex-end;
    text-align: end;
    justify-content:space-between;
}
.header-img {
    width: 100px;
    height: 30px;
    padding-left: 15px;
}

.nav-home-container a:hover {
    text-decoration: underline;
}

.nav-profile-link a:hover {
    text-decoration: underline;
}

.profile-main {
    display: grid;
}

.profile-main-container {
    background-color: cornflowerblue;
    padding: 30px 50px 40px;
}

.grid-container-profile-main {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr; 
}

.grid-container-profile-description {
    grid-column: 1;
}

.grid-container-profile-description h2 {
    margin-top: 50px;
    margin-right: 60px;
    text-align: center;
}

.grid-container-profile-description p {
    margin-top: 50px;
    margin-right: 80px;
    margin-bottom: 35px;

}

.grid-container-profile-img {
    grid-column: 2;
}

.grid-container-profile-img img {
    border-radius: 1000px;
}



.img-html {
    width: 80px;
    height: 50px;
    margin-top: 20px;
}

.img-ccs3 {
    width: 60px;
    height: 50px;
    margin-top: 20px;
}

.img-JS {
    width: 110px;
    height: 50px;
    margin-top: 25px;
}

.img-GitHub {
    width: 110px;
    height: 50px;
    margin-top: 25px;
}